*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgb(47, 164, 243);
    padding: 10px; 
}

#logo-empresa{

    height: 120px;
    display: flex;
    text-decoration: none;
    color: rgb(3, 18, 68);

}

#logo{
    height: 100px;
    width: 100px;

    margin-right: 20px;
}

#empresa{
    font-size: 40px;
}

nav .link-nav{
    margin: 0 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(35, 48, 231);

    font-weight: bold; /*aplica negrita al texto*/

}

nav .link-nav:hover{
    color: darkmagenta;
}





